<template>
  <div>
    <h1>Create an event</h1>
    <form @submit.prevent="handleSubmit">
      <BaseSelect
        v-model="event.category"
        :options="categories"
        label="Select a category"
      />

      <h3>Name & describe your event</h3>

      <BaseInput v-model="event.title" label="Title" />

      <BaseInput v-model="event.description" label="Description" />

      <h3>Where is your event?</h3>

      <BaseInput
        v-model="event.location"
        label="Location"
        @click="handleClick()"
      />

      <h3>Are pets allowed?</h3>
      <BaseRadioGroup
        v-model="event.pets"
        :options="petOptions"
        name="pets"
        vertical
      />

      <h3>Extras</h3>
      <div>
        <BaseCheckbox
          v-model="event.extras.catering"
          id="catering"
          label="Catering"
        />
      </div>

      <div>
        <BaseCheckbox
          v-model="event.extras.music"
          id="music"
          label="Live music"
        />
      </div>

      <button class="button -fill-gradient" type="submit">Submit</button>
    </form>
  </div>
</template>

<script>
import axios from 'axios'
import BaseInput from '../components/BaseInput.vue'
import BaseSelect from '../components/BaseSelect.vue'
import BaseCheckbox from '../components/BaseCheckbox.vue'
import BaseRadioGroup from '../components/BaseRadioGroup.vue'

export default {
  name: 'SimpleForm',
  components: {
    BaseInput,
    BaseSelect,
    BaseCheckbox,
    BaseRadioGroup
  },
  data () {
    return {
      categories: [
        'sustainability',
        'nature',
        'animal welfare',
        'housing',
        'education',
        'food',
        'community'
      ],
      petOptions: [
        { label: 'Yes', value: 1 },
        { label: 'No', value: 0 }
      ],
      event: {
        category: '',
        title: '',
        description: '',
        location: '',
        pets: 0,
        extras: {
          catering: false,
          music: false
        }
      }
    }
  },
  methods: {
    async handleSubmit () {
      try {
        const resp = await axios.post('https://my-json-server.typicode.com/Code-Pop/Vue-3-Forms/events', {
          ...this.event
        })
        console.log(resp)
      } catch (error) {
        console.error(error)
      }
    }
  }
}
</script>
