<template>
  <component
    v-for="option in options"
    :key="option.value"
    :is="vertical ? 'div' : 'span'"
    :class="vertical ? 'vertical' : 'horizontal'"
  >
    <BaseRadio
      :modelValue="modelValue"
      :value="option.value"
      :label="option.label"
      :name="name"
      @update:modelValue="$emit('update:modelValue', $event)"
    />
  </component>
    <!-- @change="$emit('update:modelValue', $event)" -->
    <!-- @update:modelValue="handleUpdate" -->
</template>

<script>
import BaseRadio from './BaseRadio.vue'
export default {
  name: 'BaseRadioGroup',
  components: { BaseRadio },
  props: {
    modelValue: {
      type: [String, Number],
      required: true
    },
    options: {
      type: Array,
      required: true
    },
    name: {
      type: String,
      required: true
    },
    vertical: {
      type: Boolean,
      default: false
    }
  },
  methods: {
  }
}
</script>

<style lang="scss" scoped>
.horizontal {
  & + & {
    margin-left: 16px;
  }
}
.vertical {
  & + & {
    margin-top: 4px;
  }
}
</style>
