<template>
  <input
    type="radio"
    :value="value"
    :checked="modelValue === value"
    @change="$emit('update:modelValue', value)"
    v-bind="$attrs"
  />
  <label v-if="label">{{ label }}</label>
</template>

<script>
export default {
  name: 'BaseRadio',
  props: {
    modelValue: {
      type: [String, Number],
      default: ''
    },
    value: {
      type: [String, Number],
      required: true
    },
    label: {
      type: String,
      default: ''
    }
  }
}
</script>
