<template>
  <input
    :checked="modelValue"
    v-bind="{
      ...$attrs,
      onChange: e => $emit('update:modelValue', e.target.checked)
    }"
    class="field"
    type="checkbox"
  />
  <label v-if="label" :for="$attrs.id">
    {{ label }}
  </label>
</template>

<script>
export default {
  name: 'BaseCheckbox',
  props: {
    modelValue: {
      type: Boolean,
      required: true
    },
    label: {
      type: String,
      default: ''
    }
  }
}
</script>

<style lang="scss" scoped>
label,
input {
  cursor: pointer;
  user-select: none;
}
</style>
